## Example configuration file
#
#name "John Doe";
#email "name@gmail.com";
#
#label INBOX {
#    label Important { }
#    label Spam { }
#}
#
#match recipient "name@gmail.com" {
#    last-action apply-label INBOX/Important;
#}
#
#match from "hr@example.com" {
#    match subject "compliance" {
#       action setread;
#       last-action apply-label INBOX/Spam;
#    }
#}
